$unit: 'px'
.section
  position: relative
  padding: 0 64px 0 65px

.head
  &-logo
    margin: 0 auto
    transition: .2s ease
    &:hover
      transform: scale(1.15)
  &-top
    &-line
      font-size: 21.4px
    &-contact
      right: 104px
  &-contact
    &-whatsapp
      span,svg
        transition: .2s ease
      &:hover
        span
          color: $red
        svg
          fill: $red
  &-bottom
    &-line
      font-size: 28px
    &-left
      padding-left: 50px
      &-item
        a
          transition: .2s ease
          &:hover
            opacity: .5
    &-right
      padding-right: 40px
      &-web
        transition: .2s ease
        font-size: 19px
        &:hover
          border-color: $white
          background-color: transparent
      &-win
        font-size: 17px
        transition: .2s ease
        &:hover
          opacity: .5
